{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Hello {{ controller_name }}! ✅</h1>

        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column|humanize }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tfoot>
            <tr>
                {% for column in columns %}
                    <th>{{ column|humanize }}</th>
                {% endfor %}
            </tr>
            </tfoot>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {#$(document).ready(function () {#}
            {#$('#example').DataTable({#}
                {#serverSide: true,#}
                {#sPaginationType: "scrolling",#}
                {#ajax: {#}
                    {#url: "{{ path("users") }}",#}
                    {#type: "POST"#}
                {#},#}
                {#columns: [#}
                    {#{% for column in columns %}#}
                    {#{"data": "{{ column }}"}{{ loop.last? "":"," }}#}
                    {#{% endfor %}#}
                {#]#}
            {#});#}
        {#});#}

        $(document).ready(function () {
            $('#example').DataTable({
                serverSide: true,
                ordering: true,
                searching: true,
                ajax: {
                    url: "{{ path("users") }}",
                    type: "POST"
                },
                columns: [
                    {% for column in columns %}
                    {"data": "{{ column }}"}{{ loop.last? "":"," }}
                    {% endfor %}
                ],
                scrollY: 600,
                scroller: {
                    loadingIndicator: true
                },
            });
        });
    </script>

{% endblock %}