{% extends 'base.html.twig' %}

{% block title %}UserDetails index{% endblock %}

{% block body %}
    <h1>UserDetails index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Gender</th>
                <th>Password</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_detail in user_details %}
            <tr>
                <td>{{ user_detail.id }}</td>
                <td>{{ user_detail.username }}</td>
                <td>{{ user_detail.firstName }}</td>
                <td>{{ user_detail.lastName }}</td>
                <td>{{ user_detail.gender }}</td>
                <td>{{ user_detail.password }}</td>
                <td>{{ user_detail.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('user_details_show', {'id': user_detail.id}) }}">show</a>
                    <a href="{{ path('user_details_edit', {'id': user_detail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_details_new') }}">Create new</a>
{% endblock %}
