{% extends 'base.html.twig' %}

{% block title %}UserDetails{% endblock %}

{% block body %}
    <h1>UserDetails</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_detail.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user_detail.username }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ user_detail.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ user_detail.lastName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ user_detail.gender }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user_detail.password }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ user_detail.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_details_index') }}">back to list</a>

    <a href="{{ path('user_details_edit', {'id': user_detail.id}) }}">edit</a>

    {{ include('user_details/_delete_form.html.twig') }}
{% endblock %}
